* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background: #1b1c23;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    animation: 1.2s rotate linear infinite;
}

.box::after {
    content: '';
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: #faf4ff;
    border-radius: 20px;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.circle::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 5px;
}

.circle.outer {
    width: 200px;
    height: 200;
    background: conic-gradient(transparent 55%, rgba(255, 131, 0, .5));
}
.circle.outer::after{
    left: 98px;
    height: 100px;
    background: #ffa500;
}
.circle.mid{
    width: 150px;
    height: 150px;
    background: conic-gradient(transparent 60%, rgba(255,255,255,.5));
}
