*{box-sizing: border-box;}

html, body{
    margin: 0;
    height: 100%;
}
body{
    background: #1b1c23;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    content: '';
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}