* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background: #1b1c23;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    animation: 1.2s rotate linear infinite;
}

.box::after {
    content: '';
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: #faf4ff;
    border-radius: 20px;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.circle::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 5px;
}

.circle.outer {
    width: 200px;
    height: 200;
    background: conic-gradient(transparent 55%, rgba(255, 131, 0, .5));
}

.circle.outer::after {
    left: 98px;
    height: 100px;
    background: #ffa500;
}

.circle.mid {
    width: 150px;
    height: 150px;
    background: conic-gradient(transparent 60%, rgba(255, 255, 255, .5));
}

.circle.mid::after {
    left: 73px;
    height: 40px;
    background: #faf4ff;
}

.circle.inner {
    width: 80px;
    height: 80px;
    background: conic-gradient(transparent 50%, rgba(0, 174, 255, 0.5));
}
.circle.inner::after{
    left: 38px;
    height: 40px;
    background: #0088ff;
}
.participles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
}
.participles div{
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 10px;
    transform: scale(0.5);
    opacity: 0.1;
}
.participles div:nth-child(1){
    top: 50%;
    left: 0%;
    background: #c15b10;
    box-shadow: 0 0 18px 5px #c15b10;
    animation-delay: 1750ms;
}
.participles div:nth-child(2){
    top: 100%;
    left: 20%;
    background: #c71780;
    box-shadow: 0 0 18px 5px #c7c7c7;
}